.counter-component {
    margin: 0 0 20px;

    p {
        margin: 0;
        text-align: center;
        color: gray;
    }

    .counter {
        font-size: 3rem;
        font-weight: bold;
    }
}