.counter-component {
    margin: 0 0 20px;

    .counter, .counter-label {
        margin: 0;
        text-align: center;
        color: gray;
    }

    .counter {
        font-size: 3rem;
        font-weight: bold;
    }
}