.home-component {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .container {
        width: 20vw;

        @media (max-width: 768px) {
            width: 90vw;
        }

        h1 {
            text-align: center;
            margin: 10px 0;
            font-size: 2.5rem;
        }

        > p {
            text-align: center;
            color: gray;
            margin: 10px 0 30px;
        }

        .counters {
            display: flex;

            > div {
                flex: 1;
            }
        }
    }
}